<div class="card" style="width: 18rem;">
    
    <div class="card-body">
      <h5 class="card-title">{{birthDate}}</h5>
      <img src="{{urlImage}}" class="card-img-top" alt="...">
      <p class="card-text">{{employeeID}}</p>
      <p class="card-text">{{employeeName}}</p>
      <p class="card-text">{{gender}}</p>
      <p class="card-text">{{hireDate}}</p>
      <p class="card-text">{{jobTitle}}</p>
      <p class="card-text">{{loginID}}</p>
      <p class="card-text">{{maritalStatus}}</p>
      <p class="card-text">{{modifiedDate}}</p>
      <p class="card-text">{{nationalIDNumber}}</p>
      <p class="card-text">{{rowGuide}}</p>
      <p class="card-text">{{sickLeaveHours}}</p>
      <p class="card-text">{{vacationHours}}</p>
    </div>
  </div>
