<form >
    <div class="row">
        <div class="mb-3 col-1">
            <label for="exampleFormControlInput1" class="form-label">birthDate</label>
            <input name ="birthDate" type="date" class="form-control" id="birthDate" placeholder="inserte un la fecha">
        </div>
        <div class="mb-3 col-1">
            <label for="exampleFormControlInput1" class="form-label">employeeID</label>
            <input name ="employeeID" type="number" class="form-control" id="employeeID" placeholder="inserte un ID">
        </div>
        <div class="mb-3 col-3">
            <label for="exampleFormControlInput1" class="form-label">employeeName</label>
            <input name ="employeeName" type="text" class="form-control" id="employeeName" placeholder="inserte un nombre">
        </div>
        <div class="mb-3 col-1">
            <label for="exampleFormControlInput1" class="form-label">gender</label>
            <input name ="gender" type="text" class="form-control" id="gender" placeholder="inserte si genero">
        </div>
        <div class="mb-3 col-1">
            <label for="exampleFormControlInput1" class="form-label">hireDate</label>
            <input name ="hireDate" type="date" class="form-control" id="hireDate" placeholder="inserte la hora">
        </div>
        <div class="mb-3 col-1">
            <label for="exampleFormControlInput1" class="form-label">jobTitle</label>
            <input name ="jobTitle" type="text" class="form-control" id="jobTitle" placeholder="inserte su titulo de trabajo">
        </div>
        <div class="mb-3 col-1">
            <label for="exampleFormControlInput1" class="form-label">loginID</label>
            <input name ="loginID" type="text" class="form-control" id="loginID" placeholder="inserte su ID para iniciar">
        </div>
        <div class="mb-3 col-3">
            <label for="exampleFormControlInput1" class="form-label">maritalStatus</label>
            <input name ="maritalStatus" type="text" class="form-control" id="maritalStatus" placeholder="ingrese su estatus marital">
        </div>
        <div class="mb-3 col-3">
            <label for="exampleFormControlInput1" class="form-label">modifiedDate</label>
            <input name ="modifiedDate" type="date" class="form-control" id="modifiedDate" placeholder="inserte si genero">
        </div>
        <div class="mb-3 col-3">
            <label for="exampleFormControlInput1" class="form-label">nationalIDNumber</label>
            <input name ="nationalIDNumber" type="text" class="form-control" id="nationalIDNumber" placeholder="inserte si genero">
        </div>
        <div class="mb-3 col-1">
            <label for="exampleFormControlInput1" class="form-label">rowGuide</label>
            <input name ="rowGuide" type="text" class="form-control" id="rowGuide" placeholder="inserte si genero">
        </div>
        <div class="mb-3 col-3">
            <label for="exampleFormControlInput1" class="form-label">sickLeaveHours</label>
            <input name ="sickLeaveHours" type="number" class="form-control" id="sickLeaveHours" placeholder="inserte si genero">
        </div>
        <div class="mb-3 col-3">
            <label for="exampleFormControlInput1" class="form-label">vacationHours</label>
            <input name ="vacationHours" type="number" class="form-control" id="vacationHours" placeholder="inserte si genero">
        </div>
        <div class="mb-3 col-3">
            <button type="submit" class="btn btn-danger">Danger</button>
        </div>
    </div>
</form>